@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root {
    --color-text-primary: #FF6060;
    --color-text-secondary: #FFFFFF;
    --box-shadow-primary: 2px 1px 2px grey;
}


body {
    font-family: 'Montserrat', sans-serif;
}


#root {
    min-height: 97vh;
    padding: 0% 10%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
    cursor: pointer;
}