@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root {
    --color-text-primary :  #FF6060;
    --color-text-secondary : #FFFFFF;
}


body {
    font-family: 'Montserrat', sans-serif;
}


#root {
    margin: 0% 10%;
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
    cursor: pointer;
}



