.slideshow {
    position: relative;
    margin-top: 3%;
}

.slideshow-img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    aspect-ratio: 16/4;
    filter: brightness(80%);
    box-shadow: var(--box-shadow-primary);
}

.slideshow-arrowLeft {
    position: absolute;
    bottom: 50%;
    left: 10%;
    height: 10%;
}

.slideshow-arrowRight {
    position: absolute;
    bottom: 50%;
    left: 90%;
    height: 10%;
}

.slideshow-arrowLeft:hover,
.slideshow-arrowRight:hover {
    cursor: pointer;
}

.slideshow-page {
    position: absolute;
    top: 80%;
    left: 50%;
    color: var(--color-text-secondary);
}

@media (max-width:1440px) {
    .slideshow-page {
        top: 70%;
    }
}

@media (max-width:768px) {
    .slideshow-img {
        aspect-ratio: 8/4;
    }
}

@media (max-width:500px) {

    .slideshow-page {
        top: 65%;
    }

    .slideshow-img {
        aspect-ratio: 6/4;
    }

}

@media (max-width:350px) {

    .slideshow-page {
        left: 45%;
    }
}