.housing {
   color: var(--color-text-primary);
}

.housing-informations {
   display: grid;
   grid-template-columns: 85% 15%;
   padding: 1% 0%;
   font-size: medium;
}

.housing-informations-profil {
   margin-left: 25%;
}

.housing-localisation {
   font-size: small;
}


.housing-profil {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 3%;
   align-items: center;
}


.housing-photo {
   width: 100%;
   border-radius: 50%;
}

.housing-tags,
.housing-rating {
   padding: 1% 0%;
   margin-left: -1%;
   display: flex;
   flex-wrap: wrap;
}

.housing-tag {
   background-color: var(--color-text-primary);
   color: var(--color-text-secondary);
   margin: 1% 1%;
   padding: 0.5% 3%;
   border-radius: 25px;
}

.housing-rating {
   margin-top: 2.5%;
}



.housing-collapse {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 5%;
}

@media (max-width:1800px) {
   .housing-informations-profil {
      margin-left: 20%;
   }
}

@media (max-width:1600px) {
   .housing-informations-profil {
      margin-left: -10%;
   }

   .housing-photo {
      width: 70%;
   }
}

@media (max-width:1250px) {
   .housing-informations-profil {
      margin-left: -25%;
   }
}

@media (max-width:1024px) {
   .housing-informations-profil {
      margin-left: -60%;
   }

   .housing-photo {
      width: 70%;
   }
}



@media (max-width:850px) {
   .housing-informations {
      display: flex;
      flex-direction: column;
   }

   .housing-informations-profil {
      margin-left: 0%;
      display: flex;

   }

   .housing-profil {
      display: flex;
      order: 2;
      margin-right: -10%;
   }

   .housing-photo {
      width: 30%;
      margin-left: 15%;
   }

   .housing-name {
      width: 30%;
   }

   .housing-rating {
      width: 80%;
   }

   .housing-rating-star {
      height: 2vh;
   }

   .housing-collapse {
      grid-template-columns: 1fr;
   }

}