.cards {
    padding: 3% 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: #F7F7F7;
    border-radius: 25px;
    column-gap: 5%;
}

.card {
    position: relative;
    margin: 3% 0%;
}

.card-img {
    width: 100%;
    aspect-ratio: 4/4;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.card-title {
    font-size: small;
    color: white;
    z-index: 10;
    padding-left: 5%;
    font-size: large;
    position: absolute;
    top: 80%;
}

@media (max-width:1440px) {
    .card-title {
        top: 70%;
    }
}

@media (max-width:1024px) {
    .card-title {
        font-size: medium;
        top: 65%;
    }
}

@media (max-width:950px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:768px) {
    .cards {
        grid-template-columns: 1fr;
    }
    .card-title {
        top: 80%;
        font-size: medium;
    }
}

@media (max-width:425px) {
    .card-title {
        top: 75%;
    }
}

@media (max-width:425px) {
    .card-title {
        top: 65%;
    }
}

