.collapse {
    color: var(--color-text-secondary);
    margin: 1% 0%;
}

.collapse-container-title {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    background-color: var(--color-text-primary);
    padding: 0% 0% 0% 3%;
    border-radius: 5px;
}

.collapse-logo-arrow:hover {
    cursor: pointer;
}

.collapse-text {
    color: var(--color-text-primary);
    background-color: #F6F6F6;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr;
}

.collapse-text-none {
    display: none;
}

@media (max-width:768px) {
    .collapse-container-title {
        grid-template-columns: 85% 15%;
    }
}