.footer {
    background: #000000;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(5,1fr);
}

.footer-logo {
    width: 10vw;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer-copyright {
    width: 25vw;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
}




