.footer {
    background: #000000;
    height: 12vh;
    position: relative;
    margin-top: 3vh;
}

.footer-logo {
    width: 5vw;
    position: absolute;
    top: 20%;
    left: 45%;
}

.footer-copyright {
    width: 15vw;
    position: absolute;
    top: 65%;
    left: 38%;
}

@media (max-width:768px) {
    .footer-logo {
        width: 15vw;
        top: 20%;
        left: 40%;
    }
    
    .footer-copyright {
        width: 30vw;
        top: 65%;
        left: 30%;
    }
}


